html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;

  display: flex;
  justify-content: center;
  align-items: center;
}
#main-container {
  padding: 10px;
  width: 90%;
  height: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.common-in-both-div {
  background-color: #000000;
  color: white;
  width: 50%;
  height: 100%;
}
/* ---------SECRET KEY GENERATION DIV--------- */
.left-div {
  border-radius: 10px 0px 0px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
#secret-key-generator {
  font-size: 20px;
  font-weight: 500;
  width: 200px;
  height: auto;
  padding: 20px 0px;
  background-color: #007bff;
  color: white;
  border-style: none;
  border-radius: 5px;
}
.display {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  width: 196px;
  height: auto;
  padding: 15px 0px;
  background-color: #333333;
  color: white;
  border: 2px solid white;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* ------------KEYPAD, DISPLAY and OPERATIONAL DIV------------- */
.right-div {
  border-radius: 0px 10px 10px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.display-digit-container {
  width: 65%;
  font-size: 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
#display-key {
  font-size: 28px;
  font-weight: 600;
  text-align: center;
  width: 30%;
  height: 40px;
  padding: 5px 15px;
  justify-content: right;
}
#keyboard-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 10px;
  grid-template-rows: 4;
  font-size: 28px;
  font-weight: 600;
}
.keyPad {
  width: 80px;
  height: 50px;
  background-color: #333333;
  color: white;
  border: 1px solid white;
  border-radius: 5px;

  cursor: pointer;
  font-size: 24px;
  font-weight: 600;

  display: flex;
  justify-content: center;
  align-items: center;
}
#backspace {
  background-color: #f0ad4e;
  color: white;
  font-size: 10px;
  font-weight: 400;
}
#submit {
  background-color: #5cb85c;
  font-size: 16px;
  font-weight: 400;
}
#clear {
  background-color: #d9534f;
  font-size: 16px;
  font-weight: 400;
}
/* ----------STATUS----------- */
#status {
  height: 20px;
  margin: 20px auto;
  font-size: 24px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  html,
  body,
  #main-container,
  .common-in-both-div {
    width: 100%;
    height: min-content;
    flex-direction: column;
    gap: 5px;
  }
  .left-div {
    border-radius: 10px 10px 0px 0px;
    width: 90%;
    flex-direction: row;
    gap: 10px;
  }
  #secret-key-generator {
    font-size: 14px;
    font-weight: 500;
    width: 100px;
    height: auto;
    margin: 20px;
  }
  #secret-key {
    font-size: 30px;
    font-weight: 600;
    width: 140px;
  }
  .right-div {
    border-radius: 0px 0px 10px 10px;
    width: 90%;
    padding: 20px 0px;
    gap: 10px;
  }
  .display-digit-container {
    width: 80%;
  }
  #display-key {
    font-size: 24px;
    width: 50%;
    height: 30px;
  }
  #keyboard-container {
    grid-template-columns: 1fr 1fr;
    gap: 5px;
  }
  .keyPad {
    width: 120px;
    height: 30px;
    font-size: 18px;
  }
  #backspace,
  #submit,
  #clear {
    font-size: 14px;
  }
}

/* medium device */
@media only screen and (min-width: 601px) and (max-width: 900px) {
  html,
  body,
  #main-container,
  .common-in-both-div {
    width: 100%;
    height: min-content;
    flex-direction: column;
    gap: 10px;
  }
  .left-div {
    border-radius: 10px 10px 0px 0px;
    width: 70%;
    flex-direction: row;
    gap: 10px;
  }
  #secret-key-generator {
    font-size: 18px;
    font-weight: 500;
    width: 150px;
    height: auto;
    margin: 20px;
  }
  #secret-key {
    font-size: 30px;
    font-weight: 600;
    width: 160px;
  }
  .right-div {
    border-radius: 0px 0px 10px 10px;
    width: 70%;
    padding: 20px 0px;
    gap: 10px;
  }
  .display-digit-container {
    font-size: 20px;
    width: 380px;
  }
  #display-key {
    font-size: 24px;
    text-align: center;
    width: 35%;
    height: 30px;
  }
  #keyboard-container {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
  }
  .keyPad {
    width: 120px;
    height: 40px;
    font-size: 18px;
  }
  #backspace,
  #submit,
  #clear {
    font-size: 14px;
  }
}
